---
import NavBar from "../components/NavBar.astro";
import FooterContact from "../components/FooterContact.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Sobre mí | Esteban Hernández</title>
        <style>html {scroll-behavior: smooth;}</style>
    </head>
    <body style="font-family: sans-serif; padding:2rem;">
    <main style="padding: 2rem">

        <!-- NavBar-->
         <section id="navBar">
            <NavBar />
         </section>

        <!--About Me -->
        <section id="about">
            <h1>Sobre mí</h1>
            <p>
                Soy Game Programmer...
            </p>
        </section>

        <!--Juego-->
        <section id="juego">
            <h2>Jueguito</h2>
            </div>
        </section>

        <!--Contact -->
        <section id="contact">
            <FooterContact />
        </section>
        
    </main>
  </body>
</html>