---
import NavBar from "../components/NavBar.astro";
import FooterContact from "../components/FooterContact.astro";
import Pong from "../components/Pong.astro";
import Layout from "../layouts/Layout.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Sobre mí | Esteban Hernández</title>
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body style="font-family: sans-serif; padding:2rem;">
        <main style="padding: 2rem">

            <!--Layout -->
            <Layout/>

            <!--About Me -->
            <section id="about">
                <h1>Sobre mí</h1>
                <p>Soy Game Programmer...</p>
            </section>

            <!--Juego-->
            <Pong />
            
            <!--Contact -->
            <section id="contact">
                <FooterContact />
            </section>
        </main>
    </body>
</html>
