---
import NavBar from "../components/NavBar.astro";
import FooterContact from "../components/FooterContact.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Sobre mí | Esteban Hernández</title>
        <style>html {scroll-behavior: smooth;}</style>
    </head>
    <body style="font-family: sans-serif; padding:2rem;">

        <!-- NavBar-->
        <section id="navBar">
            <NavBar />
        </section>

        <!-- EXPERIENCE -->
        <section id="experience">
          <h2>Experiencia Profesional</h2>
          <div>
            <h3>Becario en el área de supervisión — SAE Institute México</h3>
            <p>2025 - Actualidad</p>
        
            <ul>
              <li>Desarrollo de aplicacion de equipo de prestamo en Unity</li>
              <li>Desarrollo de Proyecto Ruta de la Amistad  en Unity</li>
              <li>Optimización y debugging</li>
            </ul>
          </div>
        </section>
        
        <!-- CV -->
        <section id="cv">
          <h2>Currículum</h2>
          <a href="/cv/Esteban_Hernandez_GameProgrammer.pdf" download></a>
        </section>

        <!--Contact -->
        <section id="contact">
            <FooterContact />
        </section>
    </body>
</html>