---
import AboutMe from "../components/AboutMe.astro";
import GameProject from "../components/GameProject";
import Contact from "../components/Contact.astro";
const name = "Esteban Hernández Valenzuela";
const role = "Game Programmer";
---

<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>{name} | Portafolio</title>
	</head>
	<body style="font-family: sans-serif; padding:2rem;">

		<section id="About">
			<AboutMe></AboutMe>
		</section>

		<section id="Projects">
			<h2>Projects</h2> 
			<GameProject  title="Algo Game"
        	description="Juego."
        	tool="Unity · C#"
        	youtubeId="eQXG75XirdE"
        	githubLink="https://github.com/Eztebi/Portafolio-programador-de-videojuegos"></GameProject>
		</section>
		<section id="Contact">
			<Contact></Contact>
		</section>
	</body>
</html>
