---
import AboutMe from "../components/AboutMe.astro";
import GameProject from "../components/GameProject.jsx";
import FooterContact from "../components/FooterContact.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
const name = "Esteban Hernández Valenzuela";
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{name} | Portafolio</title>
    <style>html {scroll-behavior: smooth;}
    </style>
  </head>
  <body style="font-family: sans-serif; padding:2rem;">
    
    <!--Layout -->
    <Layout/>

    <!-- ABOUT -->
    <section id="about">
      <AboutMe />
      <p>
        Aquí puedes ver algunos de mis proyectos en los que he trabajado :)
      </p>
    </section>

    <!-- PROJECTS -->
    <section id="projects">
      <h2>Proyectos</h2>
      <GameProject
        title="Dwarf Sindicate"
        description="Proyecto colaborativo enfocado en la calidad del prototipo y el trabajo en equipo. Participé en el diseño de niveles y en la implementación de interacciones del jugador dentro del entorno de juego."
        tool="Unreal Engine · blueprints · los assets no son de mi propiedad"
        youtubeId="isqaMiv1_2c"
        githubLink="https://github.com/Estebo1/SindicateDeEnanos"
      />
      <GameProject
        title="Dino Hunter"
        description="Juego tipo top-down shooter con mecánicas de combate arcade y oleadas de enemigos. El proyecto se centra en el control del jugador y control de armas adicionales."
        tool="Unreal Engine · blueprints · los assets no son de mi propiedad"
        youtubeId="uKTBdxdrZb0"
        githubLink="https://github.com/Estebo1/TopDownShooterTaller"
      />
      <GameProject
        title="Proyecto de OpenGL"
        description="Conjunto de proyectos gráficos enfocados en programación de shaders. Implementación de iluminación por vértice y por fragmento, texturizado, height maps y manejo de coordenadas UV."
        tool="OpenGL· C++ · assets"
        youtubeId="Q_Vr_efk56A"
        githubLink="https://github.com/Eztebi/Portafolio-programador-de-videojuegos"
      />
      <GameProject
        title="Candy Clicker"
        description="Juego tipo clicker que implementa un sistema de registro e inicio de sesión. Se utiliza Firebase para la autenticación de usuarios y la persistencia de progreso, compras y datos del jugador."
        tool="Unity · C# · los assets no son de mi propiedad"
        youtubeId="cpl7Nc5e-D4"
        githubLink="https://github.com/Eztebi/Portafolio-programador-de-videojuegos"
      />
      <GameProject
        title="GolF - Pea - Shooter o GolFPS"
        description="uego de realidad virtual que combina mecánicas de golf y disparos. El desarrollo se enfocó en la aplicación de patrones de diseño como MVP, Observer y Factory para una arquitectura modular."
        tool="Unity · C# · los assets no son de mi propiedad"
        youtubeId=""
        githubLink="https://github.com/Eztebi/Portafolio-programador-de-videojuegos"
      />
      <GameProject
        title="Another Day at Mars"
        description="Juego tipo Tower Defense enfocado en la implementación de algoritmos de pathfinding como A*, manejo de enemigos y control de oleadas."
        tool="Unity · C# · los assets no son de mi propiedad"
        youtubeId="jEvxuxWkvMM"
        githubLink="https://github.com/Eztebi/Portafolio-programador-de-videojuegos"
      />
    </section>

    <!-- CONTACT -->
    <section id="contact">
      <FooterContact />
    </section>
  </body>
</html>