---
import AboutMe from "../components/AboutMe.astro";
import GameProject from "../components/GameProject.jsx";
import FooterContact from "../components/FooterContact.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
const name = "Esteban Hernández Valenzuela";
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{name} | Portafolio</title>
    <style>html {scroll-behavior: smooth;}
    </style>
  </head>
  <body style="font-family: sans-serif; padding:2rem;">
    
    <!--Layout -->
    <Layout/>

    <!-- ABOUT -->
    <section id="about">
      <AboutMe />
    </section>

    <!-- PROJECTS -->
    <section id="projects">
      <h2>Proyectos</h2>

      <GameProject
        title="Algo Game"
        description="Juego."
        tool="Unity · C#"
        youtubeId="eQXG75XirdE"
        githubLink="https://github.com/Eztebi/Portafolio-programador-de-videojuegos"
      />
    </section>

    <!-- CONTACT -->
    <section id="contact">
      <FooterContact />
    </section>
  </body>
</html>