
---
const { t } = Astro.props;
---

<section id="about" style="max-width:1000px; margin-bottom:6rem;">
  <h1>{t("introduction")} {t("name")}</h1>
  <h2>{t("role")}</h2>

  <div class="about-content">
    <img src="/me.png" alt="foto de Esteban" />

    <div class="about-text">
      <p>{t("about")}</p>
    </div>
  </div>
</section>

<style>
.about-content {
  display: flex;
  gap: 2rem;
  align-items: center; 
  margin-top: 1.5rem;
}

  .about-content img {
    width: 160px;
    border-radius: 12px;
    flex-shrink: 0;
  }

  .about-text p {
    margin: 0 1rem 1rem 0;
  }

  @media (max-width: 700px) {
    .about-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .about-content img {
      margin-bottom: 1rem;
    }
  }
</style>