---
const name = "Esteban Hernández Valenzuela";
const role = "Game Programmer";
---
<section id="about">
    <h1>Hola soy {name}</h1>
		<h2>{role}</h2>
		
		<p>Soy un programador de videojuegos con experiencia en Unity Y Unreal Engine, con conocimentos de lenguajes como C#, C++, Javascript, Java y Python.</p>  
</section>