
---
import type { loadRenderers } from "astro:container";
import { FaGithub, FaEnvelope, FaYoutube, FaLinkedin } from "react-icons/fa";
---

<section>
    <h2>Contact</h2>
    <ul style="list-style: none; padding:0;">
        <li style="margin-bottom: 0.75rem;">
            <FaEnvelope client:load size = {18}/>
            <a href="mailto:estebanhernandezV26@gmail.com" style="margin-left: 0.5rem;">
                estebanhernandezV26@gmail.com
            </a>
        </li>
        <li style="margin-bottom: 0.75rem;">
            <FaGithub client:load size = {18}/>
            <a href="https://github.com/Eztebi" style="margin-left: 0.5rem;">
                GitHub
            </a>
        </li>
         <li style="margin-bottom: 0.75rem;">
            <FaLinkedin client:load size = {18}/>
            <a href="https://www.linkedin.com/in/esteban-hernández-valenzuela-5623482b7/" style="margin-left: 0.5rem;">
                LinkedIn
            </a>
        </li>
        <li style="margin-bottom: 0.75rem;">
            <FaYoutube client:load size = {18}/>
            <a href="https://www.linkedin.com/in/esteban-hernández-valenzuela-5623482b7/" style="margin-left: 0.5rem;">
                Youtube
            </a>
        </li>
    </ul>
    
</section>